.bruin.yml

# Local environment & secrets
.env
secrets/*
!secrets/.gitkeep

# Python
__pycache__/
*.pyc

logs/runs
logs/*.log
*.py[cod]

api/images/*
!api/images/.gitkeep

sources/*.duckdb