.bruin.yml

# Local environment & secrets
.env
secrets/*
!secrets/.gitkeep

# Python
__pycache__/
*.pyc

logs/runs
logs/*.log
*.py[cod]

api/images/*
!api/images/.gitkeep

sources/*.duckdb

modelling/.bruin.yml
modelling/logs/runs
modelling/logs/*.log
modelling/__pycache__/
modelling/*.py[cod]
logs/queries