.bruin.yml

# Local environment & secrets
.env
secrets/*
!secrets/.gitkeep

# Python
__pycache__/
*.pyc

logs/runs
logs/*.log
*.py[cod]

# api/images/*
# !api/images/.gitkeep

sources/*.duckdb

medallion/.bruin.yml
medallion/logs/runs
medallion/logs/*.log
medallion/__pycache__/
medallion/*.py[cod]
medallion/temp/*.yml
sources/*.jsonl
image_processing/images/*.jpg
logs/queries
*.duckdb
